
<style>
  @import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  transition: ease 0.2s;
  font-family: Open Sans;
  text-decoration: none;
  font-size: 14px;
}

body {
  background: #f2f6ff;
}

.container {
  background: #f8faff;
  color: #4b537c;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: #dee8fe 0 10px 20px 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.heading {
  font-size: 18px;
}

.para {
  font-weight: 600;
}

.feedback-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.level {
  background: white;
  padding: 13px;
  border-radius: 7px;
  border: solid 0.5px #e0e9fe;
  cursor: pointer;
}
.level:hover {
  box-shadow: #fe73a5 0 2px 5px;
}
.level:hover i {
  color: #fe73a5;
}
.level i {
  font-size: 40px;
}

.feedback-msg textarea {
  margin-top: 5px;
  border: solid 2px #e0e9fe;
  padding: 13px;
  border-radius: 7px;
  outline: none;
  font-size: 14px;
  color: #4b537c;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
  height: 80px;
  resize: none;
}

.agreement .checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}
.agreement input {
  accent-color: #ff71a4;
}
.agreement a {
  color: #ff71a4;
  font-size: 12px;
  font-weight: 600;
}
.agreement label {
  font-size: 12px;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}
.buttons a {
  background: white;
  color: #4b537c;
  width: 80px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}
.buttons a:hover {
  opacity: 0.9;
}
.buttons a:nth-child(1) {
  background: #fe71a4;
  color: #f8faff;
}

</style>
