@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Quicksand', sans-serif;
}
.fade{
  animation:fade 0.3s ease;
}
@keyframes fade{
  from{
    opacity:0;
   
  }
}
.gallery{
  position:relative;
  display:none;
  padding:2rem 0;
  background:rgba(12, 11, 12, 1);
  backdrop-filter:blur(5px);
  width:100%;
  height:100vh;
 img{
   width:80%;
   height:80%;
   display:block;
   margin:auto;
   transition:0.3s ease;
  
   object-fit:contain;
 }
 .gallery__controls{
   width:fit-content;
   margin:auto;
   display:flex;
   margin-top:15px;
   gap:1.3rem;
   .controls__btn__close{
     position:absolute;
     top:15px;
      transition:0.3s linear;
      display:flex;
      justify-content:center;
      align-items:center;
     background:transparent;
     border-radius:50%;
     padding:.3rem 0.954rem;
     border-color:transparent;
     &:hover{
       border-color:#ffff;
       
     }
     svg{
      width:24px;
     }
     right:15px;
   }
   .control__btn{
     
     transition:0.3s linear;
     &:hover{
       border-color:#ffff;
     }
     border:solid 1px transparent;
     border-radius:50%;
     
     padding:0.5rem 1rem 0.5rem 0.9rem;
     display:flex;
     justify-content:center;
     align-items:center;
     
     background:transparent;
     svg{
       pointer-events:none;
       width:30px;
     }
   }
 }
}

.gallery__container{
  width:80%;
  max-width:1500px;
  margin:auto;
  h1{
   
    text-align:center;
    font-size:2rem;
    font-weight:500;
  }
  .gallery__container__imgs{
    gap:15px;
    padding:2.2rem 1rem;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    display:flex;
    
    img{
      width:180px;
      height:210px;
      object-fit:cover;
      flex:1;
      transition:0.3s ease;
      border-radius:15px;
      cursor:pointer;
      
    }
  }
}
